.new-gradon-text-b {
    margin-bottom: 30px;
}

.safe-img img {
    width: 677px;
    margin: 0 auto;
}

.new-gradon-text-c {
    height: 17px;
}

.new-gradon-text-d {
    margin: 0 0 10px;
    text-indent: 50px;
}