.newspaper-img {
    width: 1238px;
    height: 422px;
    margin: 40px 0;
    animation-name: pDiv;
    animation-duration: 1s;
}

@keyframes pDiv {
    0% {
        margin-top: 500px;
        opacity: 0;
    }
    100% {
        margin-top: 50px;
        opacity: 1;
    }
}

@keyframes pDiv {
    0% {
        margin-top: 500px;
        opacity: 0;
    }
    2100% {
        margin-top: 50px;
        opacity: 1;
    }
}

.newspaper-img-a {
    width: 310px;
    height: 422px;
    /* padding-right: 15px;
    padding-left: 15px; */
    float: left;
}

.newspaper-img-a a {
    display: block;
    width: 280px;
    height: 372px;
    overflow: hidden;
}

.newspaper-img-a img {
    width: 100%;
    transition-duration: .3s;
}

.newspaper-img-a a:hover img {
    transform: scale(1.1);
}

.newspaper-img-a p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}