.new-epidemic-text strong {
    font-weight: 700;
    color: #000000;
    position: relative;
    left: -28px;
}

.new-epidemic-img img {
    width: 386px;
    height: 350px;
    margin: 0 auto;
}

.new-epidemic-text-a {
    text-align: center;
}

.new-epidemic-text-a span {
    font-size: 12px;
}

.new-epidemic-text-b {
    margin-top: 40px;
}

.new-epidemic-footer {
    margin-top: 120px;
}