.new-recover-img img {
    width: 386px;
    height: 386px;
    margin: 0 auto;
}

.new-recover-text {
    text-align: center;
    margin: 10px 0px;
}

.new-recover-img-a img {
    width: 386px;
    height: 600px;
    margin: 0 auto 10px;
}

.new-recover-img-b img {
    width: 386px;
    height: 290px;
    margin: 0 auto 10px;
}

.new-recover-img-c img {
    width: 386px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    left: -12px;
}

.new-recover-img-d img {
    width: 386px;
    height: 288px;
    margin: 0 auto;
    position: relative;
    left: -12px;
}