.new-gradon {
    animation-name: donDiv;
    animation-duration: 1s;
}

@keyframes donDiv {
    0% {
        margin-top: 500px;
        opacity: 0;
    }
    100% {
        margin-top: 50px;
        opacity: 1;
    }
}

@keyframes donDiv {
    0% {
        margin-top: 500px;
        opacity: 0;
    }
    2100% {
        margin-top: 50px;
        opacity: 1;
    }
}

.new-gradon-title {
    color: #337ab7;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
    text-align: center;
}

.new-gradon-author {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.new-gradon-text {
    width: 1239px;
    font-size: 14px;
    /* margin: 0 0 10px; */
    line-height: 32px;
    color: #333;
    text-indent: 28px;
    letter-spacing: 0.54px;
}

.new-gradon-text-a {
    margin: 0 0 10px;
}


/* .new-gradon-img {
    text-indent: 28px;
} */

.new-gradon-img img {
    width: 1239px;
    /* height: 502px; */
    height: auto;
    margin-left: 28px;
    /* margin-bottom: 10px; */
}

.new-gradon-img-a {
    margin-top: 34px;
}

.new-gradon-footer {
    margin: 43px 0 20px;
    padding-top: 15px;
    animation-delay: .8s;
    border-top: 1px solid #e5e5e5;
    clear: both;
}

.new-gradon-footer p {
    font-size: 16px;
    color: #8a8a8a;
    width: 48%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
}

.gradon-footer-right {
    text-align: right;
}

.new-gradon-footer span {
    color: #337ab7;
}

.new-gradon-footer a {
    font-size: 16px;
    color: #8a8a8a;
    transition: .5s;
}

.new-gradon-footer a:hover {
    color: #337ab7;
}


/* 热烈祝贺力宇新能源获得国家高新技术企业认定 */

.new-gradon-img-e img {
    width: 386px;
    height: 288px;
    margin: 0 auto;
}

.new-gradon-text-e {
    text-align: center;
}

.new-gradon-text-e strong {
    font-weight: 700;
}

.new-gradon-text-f {
    text-indent: 44px;
    color: #000000;
    line-height: 35px;
}

.new-gradon-footer-c {
    margin-top: 84px;
}


/* 篮球友谊赛 */

.new-basketball p {
    line-height: 36px;
}


/* 一带一路 */

.new-cooperate-img img {
    width: 386px;
    height: 288px;
    margin: 0 auto;
}

.new-cooper-text {
    text-align: center;
    margin: 10px 0;
}


/* 助力一线 */

.new-one-img img {
    width: 100%;
    height: auto;
}


/* 安全月活动 */

.new-origin-success {
    margin-top: 60px;
}


/* 阳泉力宇“安全生产月”活动 */

.new-gradon-text-p span {
    margin-left: 70px;
}