.footer-2{
    margin-top: 750px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-3{
    margin-top: -150px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-4{
    margin-top: 60px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-5{
    margin-top: 810px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-6{
    margin-top: -50px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-7{
    margin-top: 20px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-8{
    margin-top: 100px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-9{
    margin-top: 2450px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-10{
    margin-top: 300px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-11{
    margin-top: -10px;
    background-color: rgba(73, 138, 212, 1);
}
.footer-12{
    margin-top: 300px;
    background-color: rgba(73, 138, 212, 1);
}